<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wine.name %>
</p>

<p>
  <b>Maker:</b>
  <%= @wine.maker %>
</p>

<p>
  <b>Region:</b>
  <%= @wine.region %>
</p>

<p>
  <b>Country:</b>
  <%= @wine.country %>
</p>

<p>
  <b>Year:</b>
  <%= @wine.year %>
</p>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
